

:root {
    --dark: #222E3C;
    --light-dark: #25364D;
    --light-white: #F7F7FC;
    --light-gray: #9AB8B8;
    --blue: #3B7DDD;

}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
  
#sidebar-wrapper {
margin-left: -250px;
left: 250px;
width: 250px;
background: var(--dark);
position: fixed;
height: 100%;
overflow-y: auto;
z-index: 1000;
transition: all 0.4s ease 0s;
}
  
  #wrapper.active {
    padding-left: 0;
  }
  
  #wrapper.active #sidebar-wrapper {
    left: 0;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
.nav-bg-ligt{
    background: var(--light-dark);
}
.profile-clearfix{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.profile-pic{
    width: fit-content;
    float: left;
    border: 3px solid #F7F7FC;
    border-radius: 50px;
    overflow: hidden;
    background: #F7F7FC;
}
.profile-img{
    width: 60px;
    border-radius: 50px;
}  
.profile-info{
    margin: 0 auto;
    text-align: left
}
.profile-info span{
    color: var(--light-gray);
    font-weight: 600;
}
.profile-info h6{
    color: var(--light-white);
}

.nav-links{
    padding: 5px 0px;
}
.nav-item{
    padding: 0 20px;
    transition: all 0.3s linear;
}
.active-link{
  background: var(--light-dark) !important;
  color: var(--light-white) !important;
}
.nav-item .nav-link{
    color: var(--light-gray);
    transition: all 0.3s linear;
    font-weight: 600;
}
.nav-item:hover, .nav-item .nav-link:hover{
    background: var(--light-dark);
    color: var(--light-white);
}





  .content-header{
      width: 100vw;
      display: flex;
      align-items: center;

}
  .content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }
  
  #menu-toggle {
      text-decoration: none;
  }

  .btn-menu {
    color: #000;
    float: left;
    font-size: 1.5rem;
  } 
  
 
  @media (max-width:767px) {
  
  #wrapper {
    padding-left: 0;
  }
  
  #sidebar-wrapper {
    left: 0;
  }
  
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #menu-toggle {
    display: inline-block;
  }
  
